<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro
    name="picknik_xarm"
    params="
    prefix:=''
    hw_ns:='xarm'
    limited:=false
    effort_control:=false
    velocity_control:=false
    add_gripper:=false
    add_vacuum_gripper:=false
    add_bio_gripper:=false
    model1300:=false
    dof:=7
    robot_ip:=''
    robot_type:='xarm'
    robot_sn:=''
    report_type:='normal'
    launch_ros2_control:='true'
    ros2_control_plugin:='uf_robot_hardware/UFRobotSystemHardware'
    ros2_control_params:=''
    add_realsense_d435i:=false
    add_d435i_links:=true
    use_gazebo_camera:=false
    add_other_geometry:=false
    geometry_type:='box'
    geometry_mass:='0.1'
    geometry_radius:='0.1'
    geometry_height:='0.1'
    geometry_length:='0.1'
    geometry_width:='0.1'
    geometry_mesh_filename:=''
    geometry_mesh_origin_xyz:='0 0 0'
    geometry_mesh_origin_rpy:='0 0 0'
    geometry_mesh_tcp_xyz:='0 0 0'
    geometry_mesh_tcp_rpy:='0 0 0'
    baud_checkset:=true
    default_gripper_baud:=2000000
    attach_to:='world'
    attach_xyz:='0 0 0'
    attach_rpy:='0 0 0'
    mesh_suffix:='stl'
    kinematics_suffix:=''
    "
  >

    <xacro:arg name="mesh_suffix" default="stl"/>
    <xacro:arg name="kinematics_suffix" default=""/>

    <!-- load xarm device -->
    <xacro:include filename="$(find xarm7_sim_config)/description/xarm_device_macro.xacro" />
    <xacro:xarm_device prefix="${prefix}" hw_ns="${hw_ns}" limited="${limited}"
      effort_control="${effort_control}" velocity_control="${velocity_control}"
      add_gripper="${add_gripper}" add_vacuum_gripper="${add_vacuum_gripper}"
      add_bio_gripper="${add_bio_gripper}" dof="${dof}" launch_ros2_control= "${launch_ros2_control}"
      ros2_control_plugin="${ros2_control_plugin}" robot_type="${robot_type}"
      load_gazebo_plugin="true" ros2_control_params="${ros2_control_params}"
      add_realsense_d435i="${add_realsense_d435i}"
      add_d435i_links="${add_d435i_links}"
      add_other_geometry="${add_other_geometry}"
      geometry_type="${geometry_type}" geometry_mass="${geometry_mass}"
      geometry_height="${geometry_height}" geometry_radius="${geometry_radius}"
      geometry_length="${geometry_length}" geometry_width="${geometry_width}"
      geometry_mesh_filename="${geometry_mesh_filename}"
      geometry_mesh_origin_xyz="${geometry_mesh_origin_xyz}" geometry_mesh_origin_rpy="${geometry_mesh_origin_rpy}"
      geometry_mesh_tcp_xyz="${geometry_mesh_tcp_xyz}" geometry_mesh_tcp_rpy="${geometry_mesh_tcp_rpy}"
      robot_ip="${robot_ip}" report_type="${report_type}"
      baud_checkset="${baud_checkset}" default_gripper_baud="${default_gripper_baud}"
      model1300="${model1300}" attach_to="${attach_to}" attach_xyz="${attach_xyz}" attach_rpy="${attach_rpy}"
      robot_sn="${robot_sn}" use_gazebo_camera="${use_gazebo_camera}" mesh_suffix="${mesh_suffix}" kinematics_suffix="${kinematics_suffix}" />

    <link name="${prefix}link_pose_jog"/>

    <joint name="${prefix}joint_pose_jog" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 -1.57079632679" />
      <parent link="${prefix}link_eef" />
      <child link="${prefix}link_pose_jog" />
    </joint>

  </xacro:macro>
</robot>
